		 
       <footer class="footer">
        <span class="footer_content">All right reserved. &copy; <span id="year">2018</span>  <span><a class="" href="#">Terms and Conditions</a> ♥</span></span>
    </footer>
    </div>
  <script src="/scripts/blog.js"></script>
  </body>
</html>